.inp{

}

.inp>span{
    display: block;
    height: 12px;
    width: 100%;
    line-height: 12px;
    font-size: 12px;
    color: #aaa;
    text-align: left;
    margin-bottom: 14px;

}
.inp input{
    height: 40px;
    float: left;
    width: 100%;
    padding-left: 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #dfdce4;
}
.inp input:focus{
    border:1px solid #5262ff;
    box-shadow:0 0 5px 5px rgba(82,98,255,0.1)
}
.tip{
    float: left;
    display: block;
    width: 100%;
    height: 20px;
    text-align: right;
    font-size: 12px;
    color: #f59294;
    line-height: 20px;
}
.inp .focus{
    color:#5262ff;
    border-color:#5262ff
}
.inp .error{
    color:#f59294;
    border-color:#f59294
}
.inp .default{
    color:#dfdce4;
    border-color:#dfdce4
}
