.wrap ul li{
    display: inline-block;
}
.totalnav{
    width: 100%;
    clear: both;
    overflow: hidden;
}
.nav{
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #aaa;
    background-color: #efeef1;
    display: inline-block;
    cursor: pointer;
}
.active{
    background-color: #fff;
    color: #5262ff;
    border-bottom: 1px solid #5262ff;
}
.nav>span{
    font-size: 18px;
    padding-right: 30px;
}