
.partreg{
    font-size: 14px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 60px;
}
.avatar{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background-image: url("./images/avatar-default.png");
    background-size: contain;
}
.avatar>input{
    width: 160px;
    height: 160px;
    opacity: 0;
}
.part{
    margin-top: 48px;
    clear: both;
}
.prfooter{
    width: 1010px;
    margin: 0 auto;
}
.protocol{
    display: block;
    height: 14px;
    line-height: 14px;
    margin-top: 14px;
    font-size: 14px;
    color: #656b6f;
}
.protocol>a{
    color: #5262ff;
}
.submit{
    display: block;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #5262ff;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 120px;
    background-color: transparent;
    color: #5262ff;
}
