
.applycom{
    padding: 0 20px;
    padding-top: 48px;
}
.title{
    margin-bottom: 48px;
}
.appcc{
    border-bottom: 1px solid #dfdce4;
    overflow: hidden;
}
.apccc{
    border-top: 1px solid #dfdce4;
}
.buttong{
    margin-top: 10px;
    width: 240px;
    float: left;
}
.appcontent{
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #dfdce4;
}
.inputc{
    margin-top: 10px;
    float: left;
    width: 240px;
}
.outmoney{
    margin-top: 10px;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 36px;
    border-radius: 5px;
    border: 1px solid #5262ff;
    background-color: transparent;
    color: #5262ff;
    font-size: 16px;
    margin-left: 20px;
}
.apptip{
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    line-height: 20px;
    font-size: 12px;
    color: #dfdce4;
}
.apptip>span{
    color: #5262ff;
}
.martop{
    margin-top: 10px;
}
.psd{
    width: 240px;
    margin-top: 10px;
}
.tip{
    height: 60px;
}
.tip>i{
    display: block;
    width: 18px;
    text-align: left;
    float: left;
    color: #5262ff;
    font-size: 16px;
    line-height: 60px;
}
.tip>span{
    margin-left: 10px;
    margin-top: 18px;
    display: block;
    float: left;
    color: #dfdce4;
    font-size: 12px;
    line-height: 20px;
}

.submit{
    width: 160px;
    height: 40px;
    border: 1px solid #5262ff;
    color: #5262ff;
    font-size: 18px;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
}

