.layer {
    background: #fff;
    position: absolute;
    z-index: 6;
}

.close{
    width: 21px;
    height: 21px;
    position: absolute;
    right: 12px;
    top: 11px;
    transform: rotate(45deg);
    cursor: pointer;
    font-size: 41px;
    color: #dfdce4;
}
