
.selarea{
    width: 100%;
}
.selarea>span{
    color:#dfdce4;
    font-size: 12px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 14px;
}

.martop{
    margin-top: 10px;
}
.perimport{
    width: 100%;
    clear: both;
}
.perimport>.sheng{
    float: left;
    margin-right: 20px;
}
.perimport>.shi{
    float: left;
    margin-right: 20px;
}
.perimport>.hang{
    float: left;
}


.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}
.clearfloat {
    zoom: 1
}