
.selarea{
    width: 100%;
    height: 80px;
}
.selarea>span{
    color:#dfdce4;
    font-size: 12px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 14px;
}
.perimport{
    width: 100%;
    clear: both;
    position: relative;
}
.perimport>.sheng{
    float: left;
    margin-right: 20px;
}
.perimport>.shi{
    position: absolute;
    margin-right: 20px;
    top: 0;
    left: 180px;
}
.perimport>.hang{
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;

}