.accountDepositView{

}
.accheader{
    padding-bottom: 20px;
    border-bottom: 1px solid #dfdce4;
    overflow: hidden;
}
.acccontent{
    font-size: 14px;
}
.title{
    font-size: 14px;
    margin-right: 40px;
    position: relative;
}
.tttip{
    color: #f59294;
    position: absolute;
    left: 120px;
    top:7px;
}
.inputc{
    float: left;
    width: 260px;
    margin-top: 20px;
    margin-right: 20px;
}
.tip{
    margin-top: 20px;
    float: left;
    color: #aaa;
    font-size: 14px;
    line-height: 20px;
}
.ttip{
    display: block;
}
.btip{
    display: block;
}
.tip>span>span{
    color: #5262ff;
}
.btitle{
    font-size: 14px;
    margin-top: 20px;
}
.error{
    color: #f59294;
}
.default{
    color: #3b3d40;
}
.banklist{
    overflow: hidden;
}
.banklist>li{
    width: 216px;
    height: 60px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border: 1px solid #dfdce4;
    margin-right: 20px;
    margin-top: 20px;
}
.banklist>.active{
    border: 1px solid #5262ff;
}
.banklist>li:nth-child(5){
    margin-right: 0;
}
.banklist>li:nth-child(10){
    margin-right: 0;
}
.banklist>li:nth-child(15){
    margin-right: 0;
}
.banklist>li:nth-child(20){
    margin-right: 0;
}
.banklist>li:nth-child(25){
    margin-right: 0;
}
.banklist>li:hover{
    border: 1px solid #5262ff;
}
.banklist>li>img{
    display: block;
    top: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 15px;
}
.tipcontent{
    height: 38px!important;
    line-height: 38px!important;
    font-size: 14px!important;
    color: #aaa;
}
.but{
    font-size: 18px;
    width: 160px;
    height: 40px;
    margin: 0 auto;
    margin-top: 100px;
}
.button{

    width: 160px;
    height: 40px;
    background-color: #5262ff;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}