
.gridtable{
    width: 100%;
    border: 1px solid #dfdce4;
    border-radius: 5px;
}
.gridtable>table{
    border-collapse: collapse;
    border-spacing:0;
}
.gridtable tr{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #dfdce4;
}
.gridtable tbody>tr, thead>tr{
    border-bottom: 1px solid #dfdce4;
}
.gridtable tbody>tr:last-child{
    border-bottom: none;
}
.gridtable thead>tr>td{
    height: 40px;
    width: 100%;
    color: #3b3d40;
}
.gridtable td{

    color: #dfdce4;
    text-align: center;
    border-right: 1px solid #dfdce4;
}
.gridtable thead{
    font-size: 16px;
}
.gridtable tbody{
    font-size: 14px;
}
.gridtable tr>td:last-child{
    border-right: none;
}