.userCenterHeadView{
    background-color: #fff;
    padding-left: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.userCHl{
    width: 780px;
    font-size: 14px;
    float: left;
    padding-top: 20px;
}
.userCHlt{
    display: block;
    height: 20px;
    line-height: 14px;
    color: #656b6f;
    padding-bottom: 6px;
    border-bottom: 1px solid #dfdce4;

}
.userchvheader{
    width: 780px;
    height: 140px;
    border-bottom: 1px solid #dfdce4;
    border-right: 1px solid #dfdce4;
}
.avatar{
    width: 120px;
    height: 140px;
    position: relative;
    float: left;
}
.avatar>img{
    display: block;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;

    margin-top: -44px;
}
.userhc{
    height: 140px;
    float: left;
}
.userhch{
    overflow: hidden;
    font-size: 21px;
    line-height: 41px;
    color: #3b3d40;
    margin-top: 26px;
}
.username{
    float: left;
    margin-right: 20px;

}
.userphone{
    float: left;
}
.userhcc{

    font-size: 14px;
    line-height: 24px;
    color: #aaa;
}
.userchvfooter{
    border-right: 1px solid #dfdce4;
    height: 60px;
    width: 780px;

}
.userchvfooter>div{
    float: left;
    width: 259px;
    margin-top: 12px;
    height: 48px;
    border-right: 1px solid #dfdce4;
}
.userchvfooter>div:last-child{
    border-right: none;
}
.userchvfooter .money{
    font-size: 24px;
    line-height: 24px;
    color: #3b3d40;
    text-align: center;
}
.userchvfooter .top{
    margin-top: 10px;
    font-size: 14px;
    line-height: 14px;
    color: #aaa;
    text-align: center;
}
.userchvfooter>.balance>.money{
    color: #5262ff;
}
.userchvfooter>.balance>.top{
    color: #3b3d40;
}
.userCHr{
    width: 400px;
    font-size: 14px;
    float: left;
    padding-top: 20px;
}
.userCHrc{
    height: 200px;
    overflow-y: scroll;
    padding-left: 20px;
    position: relative;
}
.item{
    width: 360px;
    margin-top: 20px;
    font-size: 12px;
    clear: both;
    position: relative;
    overflow: hidden;
}
.state{
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    background-color: #fff;
}

.item>span{
    margin-left: 9px;
    float: left;
    border-left: 2px solid #dfdce4;
    padding-left: 26px;
    color: #aaa;
    line-height: 20px;
    width: 330px;


}
.none{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -60px;
}
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}
.clearfloat {
    zoom: 1
}
