.footer {
    background-color:#3b3d40;
    font-size: 12px;
}
.footerIn {
    composes: clearfloat from '../../common.css';
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 30px;
}
.footerInLeft  {
    float: left;
    width: 75%;
}

.footerInRight  {
    float: right;
    width: 20%;
    margin-left: 5%;
    border-left: 1px solid #aaa;
    padding-left: 60px;
    text-align: center;
    padding-bottom: 50px;
}

.img{
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    width: 130px;
    height: 130px;
    padding: 5px;
    margin-top: 30px;
}
.img>img{
    width: 100%;
    height: 100%;
}
.list{
    font-size: 14px;

}
.list li  {
    display: inline-block;
    padding-right: 10%;
    cursor: pointer;
}
.footercontent{
    color: #aaa;
    line-height: 20px;
}
.des {

    padding-top: 40px;
}
.line {
    border-top: 1px solid #aaa;
    width: 200px;
}
.paper {
    padding-top: 20px;
}
.email {
    padding-bottom: 20px;
}
.blueLine {
    height: 10px;
    background: #5262ff;
}