.prephone{

}
.prephone .isfocus{
    color:#5262ff;
    border-color:#5262ff;

}
.prephone .isfocus1{
    border-color:#5262ff;
    border-radius: 5px 5px 0 0;
    box-shadow:0 0 5px 5px rgba(82,98,255,0.1)
}
.prephone .error{
    color:#f59294;
    border-color:#f59294
}
.prephone .error1{
    border-color:#f59294;
    border-radius: 5px;
}
.prephone .default{
    color:#dfdce4;
    border-color:#dfdce4
}
.prephone .default1{
    border-color:#dfdce4;
    border-radius: 5px;
}
.prephone>span{
    color:#dfdce4;
    font-size: 12px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 14px;
}
.select{
    position: relative;
    height: 40px;
}
.sedphone{
    height: 40px;
    color: #3b3d40;
    line-height: 40px;
    float: left;
    padding: 0 12px;
    border:1px solid #dfdce4;
}
.show{
    float: left;
    width: 85%;
    height: 40px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.sedphone>i{
    text-align: right;
    width: 15%;
    font-size: 20px;
    float: right;
    line-height: 40px;
}
.selphone{
    position: absolute;
    border: 1px solid #5262ff;
    width: 100%;
    height: 122px;
    top: 39px;
    z-index: 22;
    overflow: auto;
    display: none;
}